body {
  font-family: 'Open Sans', sans-serif;
}



.flexboxWrapper {
  display: flex;
  flex-flow: row;
  min-height: 1500px;
}

.sidebar {
  background-color: #fff;
  flex: 1 5 20%;
  order: 1;
  max-width: 200px;
}
.fixed-nav {
  position: fixed;
  width: 200px;
}

.content {
  background: linear-gradient(165deg, #20a06c ,#333 100vh );
  /* background-color: #333;
   background: linear-gradient( #333, #20a06c 150vh); 
  background: linear-gradient(160deg, #20a06c, #333  ); */
  flex: 5 1 80%;
  order: 2;
  display: flex;
  flex-flow: column;
  color: #fff;

}

.item {
  /* border: 1px solid black; */
  flex: 1;
  flex-basis: auto;
}

@media (min-width: 640px) and (max-width: 1024px) { 
  .fixed-nav {
    width: 20%;
  }
}



@media (max-width: 640px) {
  .flexboxWrapper {
    flex-direction: column;
  }
  .sidebar {
    min-height: 80px;
    max-height: 80px;
  }
  .sidebar {
    max-width: inherit;
  }
  body .logo {
    display: inline;
  }
  body .logo img {
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
  }
  body .navList {
    display: inline;
  }
  body .navList li {
    display: inline;
    background-color: rgba(0, 0, 0, 0.15);
    ;
    border-radius: 3px;
    padding: 5px;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 20px;
  }
  body .info {
    flex-flow: column;
  }
  body .info-pic img {
    width: 50%;
  }
  body .info-pic {
    justify-content: center;
  }
}

.info {
  display: flex;
  flex-flow: row;
  z-index: 2;
  height: 100vh;
  /*background: linear-gradient(170deg, #20a06c , #333 100vh );*/
}

.info-list {
  display: flex;
  flex-flow: row;
  margin: 0 10%;
}

.info-pic {
  /* border: 1px solid blue; */
  flex: 1;
  display: flex;
  justify-content: center;
}

.info-pic img {
  width: 90%;
  border-radius: 50%;
  align-self: center;
  border: thick solid #434343;
}

.info-desc {
  /* border: 1px solid blue; */
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-desc-text {
  margin: 0 2%;
  text-shadow: 2px 2px 1px #333;
}

.info-desc span {
  padding-top: 10px;
}

.skills {
  display: flex;
  flex-flow: column;
  z-index: 2;
  height: 100vh;
  padding-bottom: 10vh;
  /* background: linear-gradient( #333, #20a06c  ); */
}

.header {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 25px;
  text-shadow: 2px 2px 1px #333;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-around;
}

.skill {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.skill img {
  max-height: 100px;
  padding: 5px 10px;
}

.navList {
  margin: 0;
  padding: 0;
}

.navList li {
  list-style: none;
  text-align: center;
  margin: 10px 0px;
}

.navList li a {
  text-decoration: none;
  color: #000;
}

.socialList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: calc(100vh - 480px) 50px 0 50px;
  padding: 0;
}

.socialList li {
  float: left;
  font-size: 22px;
  list-style: none;
  margin: 5px;
    max-width: 16px;
  
}
.socialList li a {
  color: #000;
}

.logo img {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 25%;
}

.contact {
  display: flex;
  flex-flow: column;
  z-index: 1;
  height: 50vh;
  background: linear-gradient(-10deg, #f36e61 -30% , #333 60%);
  
}

.contact-item {
  display: flex;
  flex-flow: row;
  flex: 0 1 auto;
  margin: 0 10%;
  margin-bottom: 25px;
  text-shadow: 2px 2px 1px #333;
}

.contact-img {
  border-radius: 50%;
  max-height: 65px;
   font-size: 65px !important;
   color: #20a06c;
}

.contact-img-link {
    margin: 0 1%;
}

.contact-grow {
  flex-grow: 1;
}

.portfolio {
  display: flex;
  flex-flow: column;
  z-index: 2;
  height: 100vh;
  padding-bottom: 10vh;
  /* background: linear-gradient(#20a06c, #333 ); */
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-around;
}

.portfolio-item {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.portfolio-item img {
  max-height: 150px;
  margin: 5px 10px;
  border: 5px solid #434343;
  border-radius: 15px;
}

#particles-js canvas {
  position: fixed;
}

footer {
  /*background: #f36e61;*/
  text-align: center;
  font-size: 12px;
  margin-bottom: 0 !important;
  text-shadow: none !important;
}

footer p {
  flex: 1;
}
