body {
  font-family: 'Open Sans', sans-serif;
}

.flexboxWrapper {
  display: flex;
  flex-flow: row;
  min-height: 1500px;
}

.sidebar {
  background-color: #fff;
  flex: 1 5 20%;
  order: 1;
  max-width: 200px;
}

.content {
  background-color: #ccc;
  flex: 5 1 80%;
  order: 2;
  display: flex;
  flex-flow: column;
}

.item {
  /* border: 1px solid black; */
  flex: 1;
  flex-basis: auto;
}

@media all and (max-width: 640px) {
  .flexboxWrapper {
    flex-direction: column;
  }
  .sidebar {
    min-height: 80px;
    max-height: 80px;
  }
  .sidebar {
    max-width: inherit;
  }
  body .logo {
    display: inline;
  }
  body .logo img {
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
  }
  body .navList {
    display: inline;
  }
  body .navList li {
    display: inline;
    background-color: rgba(0, 0, 0, 0.15);
    ;
    border-radius: 3px;
    padding: 5px;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 20px;
  }
  body .info {
    flex-flow: column;
  }
  body .info-pic img {
    width: 50%;
  }
  body .info-pic {
    justify-content: center;
  }
}

.info {
  display: flex;
  flex-flow: row;
}

.info-list {
  display: flex;
  flex-flow: row;
  margin: 0 10%;
}

.info-pic {
  /* border: 1px solid blue; */
  flex: 1;
  display: flex;
  justify-content: center;
}

.info-pic img {
  width: 90%;
  border-radius: 50%;
  align-self: center;
}

.info-desc {
  /* border: 1px solid blue; */
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-desc-text {
  margin: 0 2%;
}

.info-desc span {
  padding-top: 10px;
}

.skills {
  display: flex;
  flex-flow: column;
}

.header {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-around;
}

.skill {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.skill img {
  max-height: 100px;
  padding: 5px 10px;
}

.navList {
  margin: 0;
  padding: 0;
}

.navList li {
  list-style: none;
  text-align: center;
  margin: 10px 0px;
}

.navList li a {
  text-decoration: none;
  color: #000;
}

.logo img {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 25%;
}

.contact {
  display: flex;
  flex-flow: column;
}

.contact-item {
  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  margin: 0 10%;
}

.contact-img {
  border-radius: 50%;
  max-height: 65px;
   font-size: 65px !important;
}

.contact-item contact-img-link {
    margin: 0 1%;
}

.portfolio {
  display: flex;
  flex-flow: column;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: space-around;
}

.portfolio-item {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.portfolio-item img {
  max-height: 150px;
  padding: 5px 10px;
}