body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

$header-verticle-padding: 20px;
$header-horizontal-padding: 5%;

.header-wrapper {
  //border-bottom: 1px solid #ccc;
  //box-shadow: 2px 2px 5px 0 #ccc;
  padding: $header-verticle-padding $header-horizontal-padding;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    h1 {
      margin: 0;
      flex-grow: 10;
    }
    a {
      text-decoration: none;
      color: #333;
    }
    .nav-item {
      height: 100%;
      font-size: 20px;
      flex-grow: 1;
      margin: 0 5px;
    }
  }
}

$page-verticle-padding: 5vw;
$page-horizontal-padding: 10%;

.page-wrapper {
  padding: $page-verticle-padding $page-horizontal-padding;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  text-align: center;

  .picture {
    border-radius: 50%;
    border: 2px solid #333;
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .signature {
    font-size: 20px;
    color: #aaa;
    p {
      margin: 0;
    }
    p:first-child {
      margin-top: 40px;
      margin-bottom: 5px;
    }
  }
}

.about {
  $color_1: #aaa;
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .bio {
    line-height: 2;
    text-align: justify;
  }
  .date {
    min-width: 190px;
    max-width: 190px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before {
      box-sizing: border-box;
    }
    &:after {
      box-sizing: border-box;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
  }
  li {
    display: flex;
    &:last-child {
      border: 0;
    }
    p {
      display: block;
      padding: 20px;
      line-height: 1.4;
      &:nth-child(1) {
        position: relative;
        padding-right: 25px;
        font-size: 14px;
        line-height: 2.5;
        color: $color_1;
        &:after {
          content: '';
          position: absolute;
          top: 28px;
          right: -12px;
          display: block;
          width: 20px;
          height: 20px;
          border: 5px solid #999;
          border-radius: 50%;
          background: #fff;
        }
      }
      &:nth-child(2) {
        flex: 1;
        font-size: 24px;
        border-left: 5px solid #999;
      }
      span {
        display: block;
        margin: 5px 0 0;
        font-size: 12px;
        font-style: italic;
        color: $color_1;
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .skill {
      flex-basis: 33.3%;
      padding: 20px 60px;
      text-align: center;
      img {
        max-width: 50px;
        height: auto;
        margin: 0 auto;
        display: block;
      }
      .heading {
        font-weight: bold;
        margin: 5px 0;
      }
      .desc {
        font-size: 12px;
        color: #aaa;
      }
    }
  }
}

@media (max-width: 428px) {
  .about {
    .date {
      width: 121px;
      min-width: 121px;
    }
  }
}
